# SPDX-License-Identifier: GPL-2.0-or-later
[Desktop Entry]
Type=Application
Name=Sensel Haptic Touchpad
Name[zh_CN]=Sensel 触觉触摸板
Name[zh_TW]=Sensel 觸覺觸控板
Comment=Configure Sensel Haptic Touchpad settings
Comment[zh_CN]=配置 Sensel 触觉触摸板设置
Comment[zh_TW]=設定 Sensel 觸覺觸控板
Exec=/usr/local/bin/sensel-haptic-control
TryExec=/usr/local/bin/sensel-haptic-control
Icon=sensel-haptic
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=Sensel;Haptic;Touchpad;TrackPoint;
Keywords[zh_CN]=Sensel;触觉;触摸板;TrackPoint;
Keywords[zh_TW]=Sensel;觸覺;觸控板;TrackPoint;
StartupNotify=true
